body *{
 margin:0;
 padding:0;
}

body{
        font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Verdana,'ＭＳ Ｐゴシック',sans-serif;
}

/*
div{
 border-top: solid 1px #000000;
 border-left: solid 1px #000000;
 border-right: solid 1px #000000;
}
*/

/* wrapper */
div#wrapper{
 width:1000px;
 margin:0 auto;
}

/* navi */
div#navi{
 width:980px;
 margin:0 auto;
}

/*leftside*/
div#leftside{
 width:180px;
 float:left;
 padding-left:10px;
}

/*rightside*/
div#rightside{
 width:180px;
 float:right;
 padding-right:10px;
}

/*main*/
div#main{
 width:600px;
 float:left;
}

/*footer*/
div#footer{
 width:980px;
}


div.logo{
 float:left;
 width:230px;
 height:90px;
}

div.hello{
 float:left;
 width:250px;
 height:50px;
 margin:20px 10px 0 10px;
}

div.mininavi{
 float:left;
 height:50px;
 margin:0 0 0 180px;
}

div.mininavi ul li{
 font-size:12px;
}
div.timesale{
 width:700px;
 margin:0px 10px 0px 10px;
 float:left;
 font-size:15px;
}

div#header ul li{
 display:inline;
 margin-right:20px;
}

div#allcate{
 width:180px;
 height:35px;
 padding-top:5px;
 padding-left:2px;
 float:left;
 color:#FFFFFF;
 background-color:#146EB4;
 background-color:#3CB371;
}

div#search{
 width:780px;
 height:35px;
 padding-top:5px;
 float:left;
 color:#FFFFFF;
 background-color:#146EB4;
 background-color:#3CB371;
}

div#search > ul.dayslist{
 list-style-type:none;
}

div#search > ul.dayslist > li{
 width:150px;
 float:left;
}
div#search > ul.dayslist > li > a{
 display:block;
 margin-right:2px;
 border:solid 1px #F5F5F5;
 text-decoration:none;
 background-color :#FFFFFF;
 height:1.5em;
 padding-top:2px;
 text-align:center;
}
div#leftside ul {
 list-style-type:none;
}

div#leftside ul li{
 margin:0 0 2px 0;
 padding:3px 5px;
 font-size:15px;
}

div#leftside ul li a{
 display:block;
 text-decoration:none;
 color:#000000;
 border:solid 2px #F5F5F5;
 padding:10px;
}

div#leftside ul li a img{
 /*
 width:96px;
 height:72px;
 */
}
div#leftside ul li a div.item_sname{
 height:1.2em;
 overflow:hidden;
}

div#main div.event{
 width:100%;
 height:200px;
 border-bottom:1px solid #000000;
 padding:5px; 
}

div#main dl.dtgroup {
 height:5em;
}
div#main dl.dtgroup dt{
 float:left;
 width:200px;
}

div#main dl.dtgroup dd{
 width:400px;
 float:left;
}

div#main h3{
 margin:10px;
}

/*
div#main img{
 float:left;
 width:200px;
 height:150px;
 margin:10px;
}
*/
div#main h4{
 margin:10px 0px;
}

div#main div ul{
 list-style:none;
 margin:10px;
}

div#main div dl{
 margin:10px;
}

div#main ul{
 list-style:none;
}

/*
div#main ul li{
 float:left;
}
*/
div.youbi{
 width:80px;
 border-top:solid 1px #000000;
 border-bottom:solid 1px #000000;
 border-left:solid 1px #000000;
 float:left;
 text-align:center;
}

div.endcolumn{
 border-right:solid 1px #000000;
}

div.daily{
 width:80px;
 height:120px;
 border-bottom:solid 1px #000000;
 border-left:solid 1px #000000;
 float:left;
}

div.calendartitle{
 height:40px;
 overflow:hidden;
 font-size:16px;
 padding:5px;
}

div.baika{
 text-align:right;
}
span.rate{
 font-size:32px;
}

span.tani{
}

div.item{
 margin:10px;
}

div.item a{
 text-decoration:none;
 color:#000000;
}
div#rightside div.event{
 width:100%;
 height:250px;
 border-bottom:1px solid #000000;
 padding:5px; 
}
div#rightside a{
 text-decoration:none;
 color:#000000;
}

div.calendarright{
 height:130px;
}

div.caltitle_r{
 width:100%;
 height:40px;
 font-size:24px;
 overflow:hidden;

}

div.calbaika_r{
 text-align:center;
}
span.calrate_r{
 font-size:36px;
}

div#tirasiitem ul.dayslist {
 list-style:none;
}

div#tirasiitem ul.dayslist li{
 float:left;
}

div#tirasiitem ul.dayslist li a{
 display:block;
 border:solid 2px #F5F5F5;
 width :130px;
 height:2em;
 margin-right:3px;
 padding-top :0.8em;
 padding-right:6px;
 text-align:center;
}

div#tirasiitem > a{
 float:left;
 display:block;
 border:solid 2px #F5F5F5;
 width :130px;
 height:200px;
 margin-bottom:10px;
 margin-right:3px;
 padding-left:6px;
 padding-top:6px;
 overflow:hidden;
 text-decoration:none;
 color:black;
}

div#tirasiitem > a div.kikandiv{
 width:120px;
}

div#tirasiitem > a div.imgdiv{
 width:120px;
 height:90px;
 overflow:hidden;
}

div#tirasiitem > a div.makerdiv{
 height:1.5em;
 font-size:10px;
 overflow:hidden;
}

div#tirasiitem > a div.snamediv{
 width :90%;
 height:1.5em;
 overflow:hidden;
}

div#tirasiitem > a div.tanidiv{
 font-size:12px;
 width :90%;
 height:1.5em;
 overflow:hidden;
}

div#tirasiitem > a div.baikadiv{
 font-size:12px;
 width :90%;
 height:3.5em;
 text-align:right;
 color:#DC143C;
}

div#tirasiitem > a div.baikadiv span{
 font-size:36px;
}

div#tirasiitem > a div.jcodediv{
 font-size:8px;
 text-align:right;
}

div#tanpin > a{
 display:block;
 width:95%;
 height:250px;
 border:solid 2px #F5F5F5;
}

div#tanpin > a> div.imgdiv{
 width:240px;
 height:100%;
 overflow:hidden;
 float:left;
 margin-right:10px;
}
div#tanpin > a > div.imgdiv > img{
 width:240px;

}
div#tanpin > a > div.makerdiv{
 font-size:14px;
 margin:10px 0;
 width: 300px
 height:1.2em;
 overflow:hidden;
}

div#tanpin > a > div.snamediv{
 font-size:18px;
 margin:10px 0;
 width: 300px
 height:2.2em;
 overflow:hidden;
}

div#tanpin > a > div.baikadiv{
 float:left;
 font-size:32px;
 width:260px;
 margin:10px;
 color:#DC143C;
}

div#tanpin > a > div.baikadiv span{
 font-size:56px;
}

div.tanpin img.tanpin_img{
 /*
 width:280px;
 height:210px;
 */
 float:left;
 margin:10px;
}

div.tanpin_meisai {
 width:240px;
 height:210px;
 float:left;
 margin:10px;
}

div.tanpin_maker{
 width:100%;
 height:1.4em;
 overflow:hidden;
}

div.tanpin_tani{
 width:40%;
 height:2.4em;
 float:left;
}
div.tanpin_baika{
 width:60%;
 float:left;
 text-align:right;
 color:#DC143C;
}

div.tanpin_baika span{
 font-size:48px;
}

div.notice p{
 font-size:10px;
}

div.test{
 width:280px;
 height:210px;
 overflow:hidden;
 float:left;
}

div.col1{
 float        :left;
 width        :85px;
 height       :2.4em;
 border-top   :solid 2px #F5F5F5;
 border-right :solid 2px #F5F5F5;
 text-align   :center;
 font-size    :12px;
 overflow     :hidden;
}

div.col1start{
 border-left  :solid 2px #F5F5F5;
}

div.row1end{
 border-bottom:solid 2px #F5F5F5;
}


div.col2block{
 width        :120px;
 height       :90px;
 border-top   :solid 2px #F5F5F5;
 border-right :solid 2px #F5F5F5;
 overflow     :hidden;
 float:left;
}

div.col3block{
 width        :230px;
 height       :90px;
 border-top   :solid 2px #F5F5F5;
 border-right :solid 2px #F5F5F5;
 overflow     :hidden;
 float:left;
}

div.col2img{
 width        :200px;
 height       :150px;
 border-top   :solid 2px #F5F5F5;
 border-right :solid 2px #F5F5F5;
 overflow     :hidden;
 float        :left;
}


div#main div.datazone ul{
 width:800px;
 height:600px;
 overflow:scroll;
}

div#main div.datazone ul li{
 width:1500px;
}

div.clr{
 clear:both;
}

