* {
 font-size:11pt;
 color:#000000;
 background-color:#FFFFFF;
 margin:0;
 padding:0;
}

body{
 width:640px;
}

a{ 
 text-decoration:none;
 color:#000000;
}

img{
 border:0;
}

div.clr{ 
 clear:both;
}

div.pagebreak{
 page-break-after:always;
}

div.pageview{
 display:block;
}


h2{
 font-size:18pt;
}

h3{
 font-size:14pt;
}

div#wrapper{
 width:100%;
 margin:0;
}

div#header{
 height:120px;
}

div.logo{
 float:left;
 width:210px;
 height:100px;
}

div.item{
 width:130px;
 margin:2px;
 padding:3px;
 float:left;
 border:solid 1px #A9A9A9;
}

div.imgdiv {
 width:120px;
 height:180px;
 margin:5px;
}
div.imgdiv a img {
 width:100%;
}

div.datadiv{
 width:120px;
 margin:5px;
}

h3.sname{
 width:90%;
 height:2.4em;
 overflow:hidden;
}
div.tani{
 width:50px;
 height:1.4em;
 font-size:6pt;
 float:left;
 text-align:left;
 overflow:hidden;
}
div.price{
 font-size:18pt;
 text-align:right;
 color:red;
}
div.price span{
 font-size:6pt;
 color:red;
}

div.notice{
 width:90%;
 height:2.4em;
 font-size:8pt;
 overflow:hidden;
}

div.goyoyaku div.notice{
 width:90%;
 height:4.4em;
 font-size:8pt;
 overflow:hidden;
}

div.lastsale{
 width:90%;
 height:1.4em;
 font-size:8pt;
 overflow:hidden;
}

div.tanpin{
 width:80%;
 height:200px;
 border:solid 1px #A9A9A9;
 margin:2px;
 padding:3px;
}

div.tanpin div.imgdiv{
 width:250px;
 float:left;
}

div.tanpin div.datadiv{
 float:left;
}

div.tanpin div.datadiv div.price{
 font-size:18pt;
 text-align:left;
 float:left;
}

div.tanpin div.datadiv div.jcode{
 display:none;
}

div.goyoyaku_footer{
 margin-top:20pt;
}
/* 非表示系 */
div.mininavi,
div.timesale,
div#leftside,
div#footer{
 display:none;
}

